//VARIBALES
$color-primary: #3498DB;

$color-grey-dark-1: #333333;
$color-grey-dark-2: #707070;
$color-grey-dark-3: #959595;

$color-grey-light-1: #F3F3F3;
$color-grey-light-2: #E8E8E8;
$color-grey-light-3: #CCCCCC;

$color-black: #000;
$color-white: #fff;
$color-green: #27ae60;

$primary-width: 1140px;


//RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6;
    color: $color-grey-dark-1;
}