//HEADER 
.header {
    width: 100%;
    height: 100vh;
}

//FEATURES

.features {
    max-width: $primary-width;
    margin: 0 auto;
    padding: 4rem 0;
    
}


//WORKS

.work {
    max-width: 100%;
    background-color: $color-grey-light-1;
    padding: 4rem 0 8rem 0;
}

// PLANS
.plans {
    width: 100%;
    padding-bottom: 4rem;
}

// MOBILE APP
.mobile {
    width: 100%;
    background-color: $color-grey-light-1;
    padding: 4rem 0 8rem 0;
}

// REVIEWS

.testimonials {
    width: 100%;
    padding: 4rem 0 8rem 0;
    background-image: linear-gradient(rgba($color-black, .9), rgba($color-black, .9)),
                      url(../img/testimonial-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


// FORM

.contact-form {
    width: 100%;
    padding: 6rem 0 8rem 0;
    background-color: $color-grey-light-1;
}


// FOOTER

.footer {
    width: 100%;
    background-color: $color-grey-dark-1;
    padding: 4rem 0;
}